<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginPage</title>
    <link rel="stylesheet" href="/static/expocol.css">
</head>
<body>
    <form action="/loginPage" method="GET,POST">
        <p>coloque seu login</p>
        <p>email:<input type="email" name="email"></p>
        <p>senha:<input type="password" name="password"></p>

    <button type="submit">Login</button>

    </form>
    <form action="/registerPage" method="POST">
        <p>cadastre-se!!</p>
        <p>nome:<input type="text" name="username" ></p>
        <p>email:<input type="email" name="email"></p>
        <p>senha:<input type="password" name="password"></p>

        <button type="submit">Registrar</button> 


    </form>
</body>
</html>