<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homePage</title>
    <link rel="stylesheet" href="/static/expocol.css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Escolha uma das seguintes opções</h1>
    <form action="/loginPage">
        <button type="submit">Login</button>
    </form>
    <br>
    <form action="/registerPage">
        <button type="submit">Registrar</button>
    </form>
</body>
</html>